@import '../global.scss';

.cart-indicator{
	color: $blue;
	font-weight:bold;
	position:absolute;
	left: 50%;
	bottom: -33px;
    font-size: 1.3em;
    z-index: 1;

	> div {
		position: relative;
		left: -50%;

		i, span {
			display: inline-block;
		}

		span {
			margin-left: 5px; 
		}
	}
}